**nota**: In questo Colab viene valutato se è sensato reintrodurre le 4176 righe che presentano valori nulli **solo** nelle colonne delle lunghezze: non ha senso perché sia le categories1 che le categories2 hanno tutte somma pari a 0 (tutte i 4176 utenti hanno tutte le entrate di categories1 e di categories2 pari a 0).

# Importazione dati

In [59]:
from google.colab import drive 
import pandas as pd
import re
from glob import glob
import numpy as np
from math import exp

from sklearn import svm
from sklearn.ensemble import RandomForestClassifier

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

from sklearn.metrics import classification_report
from sklearn.metrics import RocCurveDisplay
from sklearn.metrics import ConfusionMatrixDisplay

from imblearn.under_sampling import RandomUnderSampler
from collections import Counter
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTENC

import scipy

In [60]:
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

Perché il seguente comando funzioni è necessario aggiungere una scorciatoia a DS Lab - PROGETTO al proprio Drive.

In [61]:
#!cp -av '/content/gdrive/My Drive/DS Lab - PROGETTO/Dataset aggregati' 'campaignClickDataset'

Lista dei file contenenti i dati

In [62]:
#part_files = sorted(glob('campaignClickDataset/part*.csv'))

In [63]:
#df = pd.concat((pd.read_csv(file) for file in part_files), ignore_index=True)

In [64]:
# Export in csv
#pd.DataFrame.to_csv(df.set_index('ad_form_id'), '/content/gdrive/My Drive/DS Lab - PROGETTO/Ottobre/dataset_completo.csv')

Importazione dei dati, solo csv completo

In [98]:
df = pd.read_csv('/content/gdrive/My Drive/DS Lab - PROGETTO/Ottobre/dataset_completo.csv')

In [66]:
df.head()

,ad_form_id,suspicious,clicks,impressions,buy,os_android,os_bsd,os_ios,os_linux,os_osx,...,feelings1_surprise,feelings1_sympathy,feelings1_thirst,feelings1_thoughtful,feelings1_torment,feelings1_traditionalist,feelings1_trust,feelings1_uncategorized,feelings1_violence,feelings1_wealth
0,7241135337730459930,0,0,1,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,8408205703932483258,0,0,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5884145627470739741,0,0,2,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2463214613830580928,0,0,6,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6157419832685345406,0,0,3,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Controllo valori nulli

Controllo in quali colonne si trovano i `NaN`.

In [67]:
col_nan = []
for col in df.columns:
  if len(df[df[col].isnull()]) != 0:
    print(col, len(df[df[col].isnull()]))
    col_nan.append(col)

L00_50 4178
L51_100 20033
L101_250 20028
L251_500 20026
L501_1000 20033
L1001_2500 20032
L2501_5000 20033
L5001_10000 20033
L10001_more 20033

I `NaN` si trovano solo nelle colonne lunghezza e non tutte le 20033 righe eliminate dopo presentano `NaN`. Vado a vedere cosa succede in queste righe.

In [68]:
df[df['L10001_more'].isnull()][col_nan]

,L00_50,L51_100,L101_250,L251_500,L501_1000,L1001_2500,L2501_5000,L5001_10000,L10001_more
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
82529,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82534,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82535,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82553,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Ci sono gli `inf`, che di fatto possiamo trattare come `NaN`.

Vado allora a guardare il numero di `NaN` e di inf in ogni colonna

In [69]:
col_infami = []
for col in df.columns:
  if (len(df[df[col].isnull()]) != 0) or (len(df[df[col] == np.inf]) != 0):
    diz = {}
    diz['Colonna'] = col
    diz['Numero di NaN'] = len(df[df[col].isnull()])
    diz['Numero di inf'] = len(df[df[col] == np.inf])
    diz['Numero totale di NaN e inf'] = len(df[df[col].isnull()]) + len(df[df[col] == np.inf])

    col_infami.append(diz)

In [70]:
# Numero di colonne che contengono almeno un NaN o almeno un inf
len(col_infami)

50

In [71]:
col_infami

[{'Colonna': 'L00_50',
  'Numero di NaN': 4178,
  'Numero di inf': 15855,
  'Numero totale di NaN e inf': 20033},
 {'Colonna': 'L51_100',
  'Numero di NaN': 20033,
  'Numero di inf': 0,
  'Numero totale di NaN e inf': 20033},
 {'Colonna': 'L101_250',
  'Numero di NaN': 20028,
  'Numero di inf': 5,
  'Numero totale di NaN e inf': 20033},
 {'Colonna': 'L251_500',
  'Numero di NaN': 20026,
  'Numero di inf': 7,
  'Numero totale di NaN e inf': 20033},
 {'Colonna': 'L501_1000',
  'Numero di NaN': 20033,
  'Numero di inf': 0,
  'Numero totale di NaN e inf': 20033},
 {'Colonna': 'L1001_2500',
  'Numero di NaN': 20032,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 20033},
 {'Colonna': 'L2501_5000',
  'Numero di NaN': 20033,
  'Numero di inf': 0,
  'Numero totale di NaN e inf': 20033},
 {'Colonna': 'L5001_10000',
  'Numero di NaN': 20033,
  'Numero di inf': 0,
  'Numero totale di NaN e inf': 20033},
 {'Colonna': 'L10001_more',
  'Numero di NaN': 20033,
  'Numero di inf': 0,
  'Numero totale di NaN e inf': 20033},
 {'Colonna': 'categories1_business',
  'Numero di NaN': 0,
  'Numero di inf': 6,
  'Numero totale di NaN e inf': 6},
 {'Colonna': 'categories1_finance',
  'Numero di NaN': 0,
  'Numero di inf': 3,
  'Numero totale di NaN e inf': 3},
 {'Colonna': 'categories1_society',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'categories1_technologyandcomputing',
  'Numero di NaN': 0,
  'Numero di inf': 3,
  'Numero totale di NaN e inf': 3},
 {'Colonna': 'categories1_uncategorized',
  'Numero di NaN': 0,
  'Numero di inf': 15853,
  'Numero totale di NaN e inf': 15853},
 {'Colonna': 'categories2_advertising',
  'Numero di NaN': 0,
  'Numero di inf': 3,
  'Numero totale di NaN e inf': 3},
 {'Colonna': 'categories2_business',
  'Numero di NaN': 0,
  'Numero di inf': 4,
  'Numero totale di NaN e inf': 4},
 {'Colonna': 'categories2_company',
  'Numero di NaN': 0,
  'Numero di inf': 3,
  'Numero totale di NaN e inf': 3},
 {'Colonna': 'categories2_crime',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'categories2_finance',
  'Numero di NaN': 0,
  'Numero di inf': 3,
  'Numero totale di NaN e inf': 3},
 {'Colonna': 'categories2_internettechnology',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'categories2_marketing',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'categories2_software',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'categories2_technologyandcomputing',
  'Numero di NaN': 0,
  'Numero di inf': 2,
  'Numero totale di NaN e inf': 2},
 {'Colonna': 'categories2_uncategorized',
  'Numero di NaN': 0,
  'Numero di inf': 15853,
  'Numero totale di NaN e inf': 15853},
 {'Colonna': 'categories3_advertising',
  'Numero di NaN': 0,
  'Numero di inf': 3,
  'Numero totale di NaN e inf': 3},
 {'Colonna': 'categories3_business',
  'Numero di NaN': 0,
  'Numero di inf': 4,
  'Numero totale di NaN e inf': 4},
 {'Colonna': 'categories3_company',
  'Numero di NaN': 0,
  'Numero di inf': 3,
  'Numero totale di NaN e inf': 3},
 {'Colonna': 'categories3_finance',
  'Numero di NaN': 0,
  'Numero di inf': 3,
  'Numero totale di NaN e inf': 3},
 {'Colonna': 'categories3_internettechnology',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'categories3_marketing',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'categories3_propertycrime',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'categories3_software',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'categories3_technologyandcomputing',
  'Numero di NaN': 0,
  'Numero di inf': 2,
  'Numero totale di NaN e inf': 2},
 {'Colonna': 'categories3_uncategorized',
  'Numero di NaN': 0,
  'Numero di inf': 15853,
  'Numero totale di NaN e inf': 15853},
 {'Colonna': 'admants1_businessandindustrialsupplies',
  'Numero di NaN': 0,
  'Numero di inf': 6,
  'Numero totale di NaN e inf': 6},
 {'Colonna': 'admants1_finance',
  'Numero di NaN': 0,
  'Numero di inf': 3,
  'Numero totale di NaN e inf': 3},
 {'Colonna': 'admants1_lawfirms',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'admants1_news',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'admants1_onlinepayments',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'admants1_software',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'admants1_streamingservices',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'admants1_telecommunications',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'feelings1_behaviour',
  'Numero di NaN': 0,
  'Numero di inf': 4,
  'Numero totale di NaN e inf': 4},
 {'Colonna': 'feelings1_emotions',
  'Numero di NaN': 0,
  'Numero di inf': 7,
  'Numero totale di NaN e inf': 7},
 {'Colonna': 'feelings1_frugal',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'feelings1_love',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'feelings1_modern',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1},
 {'Colonna': 'feelings1_sedentary',
  'Numero di NaN': 0,
  'Numero di inf': 2,
  'Numero totale di NaN e inf': 2},
 {'Colonna': 'feelings1_success',
  'Numero di NaN': 0,
  'Numero di inf': 2,
  'Numero totale di NaN e inf': 2},
 {'Colonna': 'feelings1_traditionalist',
  'Numero di NaN': 0,
  'Numero di inf': 1,
  'Numero totale di NaN e inf': 1}]

Ci sono 50 colonne che contengono almeno un `NaN` o almeno un `inf`. È curioso che per le colonne lunghezza la somma di `Nan` e `inf` è sempre 20033.

Ora vado a guardare se per ognuno dei 20033 utenti che eliminiamo, ci sono `NaN` o `inf` solo nelle colonne lunghezza o se ci sono o `inf` anche in altre colonne (sicuramente infatti non ci sono `NaN` perché abbiamo verificato che si trovano solo nelle colonne lunghezza.

In [72]:
# Costruisco la lista di colonne che contengono i NaN e gli inf
col_nan_inf = []
for diz in col_infami:
  col_nan_inf.append(diz['Colonna'])

col_nan_inf

['L00_50',
 'L51_100',
 'L101_250',
 'L251_500',
 'L501_1000',
 'L1001_2500',
 'L2501_5000',
 'L5001_10000',
 'L10001_more',
 'categories1_business',
 'categories1_finance',
 'categories1_society',
 'categories1_technologyandcomputing',
 'categories1_uncategorized',
 'categories2_advertising',
 'categories2_business',
 'categories2_company',
 'categories2_crime',
 'categories2_finance',
 'categories2_internettechnology',
 'categories2_marketing',
 'categories2_software',
 'categories2_technologyandcomputing',
 'categories2_uncategorized',
 'categories3_advertising',
 'categories3_business',
 'categories3_company',
 'categories3_finance',
 'categories3_internettechnology',
 'categories3_marketing',
 'categories3_propertycrime',
 'categories3_software',
 'categories3_technologyandcomputing',
 'categories3_uncategorized',
 'admants1_businessandindustrialsupplies',
 'admants1_finance',
 'admants1_lawfirms',
 'admants1_news',
 'admants1_onlinepayments',
 'admants1_software',
 'admants1_streamingservices',
 'admants1_telecommunications',
 'feelings1_behaviour',
 'feelings1_emotions',
 'feelings1_frugal',
 'feelings1_love',
 'feelings1_modern',
 'feelings1_sedentary',
 'feelings1_success',
 'feelings1_traditionalist']

In [73]:
# Rimuovo dalla lista le colonne lunghezza (le prime 8 entrate di col_nan_inf)
for _ in range(9):
  col_nan_inf.pop(0)

# Aggiungo ad_form_id per facilitare l'identificazione degli utenti
col_nan_inf.append('ad_form_id')

col_nan_inf

['categories1_business',
 'categories1_finance',
 'categories1_society',
 'categories1_technologyandcomputing',
 'categories1_uncategorized',
 'categories2_advertising',
 'categories2_business',
 'categories2_company',
 'categories2_crime',
 'categories2_finance',
 'categories2_internettechnology',
 'categories2_marketing',
 'categories2_software',
 'categories2_technologyandcomputing',
 'categories2_uncategorized',
 'categories3_advertising',
 'categories3_business',
 'categories3_company',
 'categories3_finance',
 'categories3_internettechnology',
 'categories3_marketing',
 'categories3_propertycrime',
 'categories3_software',
 'categories3_technologyandcomputing',
 'categories3_uncategorized',
 'admants1_businessandindustrialsupplies',
 'admants1_finance',
 'admants1_lawfirms',
 'admants1_news',
 'admants1_onlinepayments',
 'admants1_software',
 'admants1_streamingservices',
 'admants1_telecommunications',
 'feelings1_behaviour',
 'feelings1_emotions',
 'feelings1_frugal',
 'feelings1_love',
 'feelings1_modern',
 'feelings1_sedentary',
 'feelings1_success',
 'feelings1_traditionalist',
 'ad_form_id']

In [74]:
# Salvo in una variabile gli id che eliminiamo
id_nan = list(df[df['L10001_more'].isnull()]['ad_form_id'])

In [75]:
# Costruisco ora un dataset con solo le colonne di col_nan_inf e solo gli id che eliminiamo (perché non ci sono
# altri NaN o inf in altre righe >> questo è verificato nella normalizzazione delle lunghezze)
df2 = pd.DataFrame()
for id in id_nan:
  df2 = df2.append(df[df['ad_form_id'] == id][col_nan_inf])
df2

,categories1_business,categories1_finance,categories1_society,categories1_technologyandcomputing,categories1_uncategorized,categories2_advertising,categories2_business,categories2_company,categories2_crime,categories2_finance,...,admants1_telecommunications,feelings1_behaviour,feelings1_emotions,feelings1_frugal,feelings1_love,feelings1_modern,feelings1_sedentary,feelings1_success,feelings1_traditionalist,ad_form_id
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7241135337730459930
2,0.0,0.0,0.0,0.0,inf,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5884145627470739741
3,0.0,0.0,0.0,0.0,inf,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2463214613830580928
6,0.0,0.0,0.0,0.0,inf,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4479359120959384569
11,0.0,0.0,0.0,0.0,inf,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8996170844411030610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82529,0.0,0.0,0.0,0.0,inf,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,341600422323320625
82532,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3756819457074416708
82534,0.0,0.0,0.0,0.0,inf,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1193695853517800236
82535,0.0,0.0,0.0,0.0,inf,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6175724090840247579
82553,0.0,0.0,0.0,0.0,inf,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7229928163493839821

In [76]:
# Sostituisco gli inf con dei NaN sapendo che non ci sono NaN in df2 -> questa operazione serve per la cella 
# successiva
df2.replace(np.inf, np.nan, inplace=True)

In [77]:
# Ora vado a guardare il numero di NaN in ogni riga e lo salvo in una lista
number_of_nan = df2.isnull().sum(axis=1).tolist()

In [78]:
# Ora verifico se ci sono entrate di number_of_nan pari a 0 => se ce ne sono, vuol dire che ci sono utenti per cui
# i valori nulli si trovano solo nelle lunghezze
count = 0
for non in number_of_nan:
  if non == 0:
    count += 1

count

4176

**Conclusione:** ci sono 4176 utenti su 20033 che hanno un `NaN` o un `inf` solo nelle colonne lunghezza. Tutti gli altri hanno almeno un `inf` in una delle altre 41 colonne che presentano valori nulli.

In [79]:
# Aggiungo una colonna con il numero di valori nulli in ogni riga
df2['Somma di NaN e inf'] = number_of_nan
df2

,categories1_business,categories1_finance,categories1_society,categories1_technologyandcomputing,categories1_uncategorized,categories2_advertising,categories2_business,categories2_company,categories2_crime,categories2_finance,...,feelings1_behaviour,feelings1_emotions,feelings1_frugal,feelings1_love,feelings1_modern,feelings1_sedentary,feelings1_success,feelings1_traditionalist,ad_form_id,Somma di NaN e inf
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7241135337730459930,0
2,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5884145627470739741,3
3,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2463214613830580928,3
6,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4479359120959384569,3
11,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8996170844411030610,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82529,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,341600422323320625,3
82532,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3756819457074416708,0
82534,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1193695853517800236,3
82535,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6175724090840247579,3
82553,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7229928163493839821,3

In [80]:
# Salvo i 4176 id in una lista che useremo per costruire un sottoinsieme di df contenente solo le 4176 righe notevoli che reintrodurremo
id_4176 = list(df2[df2['Somma di NaN e inf'] == 0]['ad_form_id'])

In [99]:
# Costruisco un dataframe con solo i 4176 utenti che ci interessano
df3 = pd.DataFrame()
for id in id_4176:
  try:
    df3 = df3.append(df[df['ad_form_id'] == id])
  except:
    pass

In [100]:
df3

,ad_form_id,suspicious,clicks,impressions,buy,os_android,os_bsd,os_ios,os_linux,os_osx,...,feelings1_surprise,feelings1_sympathy,feelings1_thirst,feelings1_thoughtful,feelings1_torment,feelings1_traditionalist,feelings1_trust,feelings1_uncategorized,feelings1_violence,feelings1_wealth
0,7241135337730459930,0,0,1,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55,1633170663585866342,0,0,6,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93,8800313386888394827,0,0,1,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105,7609729276934938609,0,0,2,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
123,2143737829494737521,0,0,1,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82472,4756679042780103789,0,0,4,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82478,8206347819790609161,0,0,3,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82494,989818539064099103,0,0,1,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82495,5299665908543523273,0,0,1,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82532,3756819457074416708,0,0,3,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Colonne
Idee per la rimozione delle colonne:
* soli 0
  * buy
  * sentiments
* identiche informazioni
  * time2, stessa informazione di time1
* correlazione + identiche informazioni
  * 57% degli admants correlate con categories1 -> dopo aver eliminato le categories che causano i nan nel calcolo della correlazione i risultati non sono cambiati
* uguaglianza delle distribuzioni + identiche informazioni
  * categories 1, 2 e 3 => rappresentano le stesse informazioni, ma le c1 sono più diverse a livello di distribuzione tra click e non click rispetto a c2 e c3
  * feelings => la quasi totalità delle colonne (93%) ha la stessa distribuzione tra click e non click (sono di fatto quasi tutti 0) -> la percentuale di 0 nelle colonne è minore del 99% solo in 4 casi: due colonne hanno % di 0 pari a circa il 98%, mentre le altre 2 hanno % di 0 minore del 77%. Queste ultime due colonne hanno anche distribuzione diversa tra click e non click e % di 0 diverse tra click e non click. Una possibile idea è quella di mantenere 3 colonne, queste due più una terza, feelings_others, in cui accorpiamo tutti gli altri feelings. Tuttavia, più di 44000 righe hanno tutti i feelings pari a 0 e questo sembra una mancanza di informazione importante e quindi si può anche valutare di eliminare tutte le colonne feelings.

In [101]:
# Eliminazione con impressions = 0 (click passati da email) e suspicious = 1 (sospette frodi)

df  = df[df['impressions'] != 0]
df = df[df['suspicious'] == 0]

In [102]:
# eliminazione colonna sus

df.drop(columns='suspicious', inplace=True)

In [103]:
colonne = list(df.columns)
for colonna in colonne:
  print(colonna)

ad_form_id
clicks
impressions
buy
os_android
os_bsd
os_ios
os_linux
os_osx
os_other
os_windows
device_type
browser_android
browser_chrome
browser_chromium
browser_edge
browser_firefox
browser_ie
browser_opera
browser_other
browser_safari
browser_unknown
time1_workday_morning
time1_workday_afternoon
time1_workday_evening
time1_workday_night
time1_weekend_morning
time1_weekend_afternoon
time1_weekend_evening
time1_weekend_night
time2_morning_early
time2_morning
time2_launch
time2_afternoon
time2_evening
time2_night
time2_sleep
L00_50
L51_100
L101_250
L251_500
L501_1000
L1001_2500
L2501_5000
L5001_10000
L10001_more
categories1_artandentertainment
categories1_automotive
categories1_business
categories1_careers
categories1_education
categories1_emotions
categories1_familyandparenting
categories1_finance
categories1_foodanddrink
categories1_healthandfitness
categories1_hobbiesandinterests
categories1_homeandgarden
categories1_intentions
categories1_lawgovtandpolitics
categories1_news
categories1_pets
categories1_realestate
categories1_religionandspirituality
categories1_science
categories1_shopping
categories1_society
categories1_sports
categories1_styleandfashion
categories1_technologyandcomputing
categories1_travel
categories1_uncategorized
categories2_accessories
categories2_addiction
categories2_adoption
categories2_adulteducation
categories2_adventuretravel
categories2_advertising
categories2_agriculture
categories2_alternativemedicine
categories2_alternativereligions
categories2_americancuisine
categories2_animalwelfare
categories2_antique
categories2_apartments
categories2_appliances
categories2_aquariums
categories2_archery
categories2_architects
categories2_armedforces
categories2_artandentertainment
categories2_arthistory
categories2_artsandcrafts
categories2_arttechnology
categories2_astrology
categories2_atheismagnosticism
categories2_automation
categories2_automotive
categories2_autoparts
categories2_autoracing
categories2_autorepair
categories2_babiesandtoddlers
categories2_badminton
categories2_bank
categories2_barbecuesandgrilling
categories2_baseball
categories2_basketball
categories2_beauty
categories2_behaviour
categories2_beverages
categories2_bicycling
categories2_billiards
categories2_biology
categories2_biotechbiomedical
categories2_birds
categories2_birdwatching
categories2_blindnositelist
categories2_bobsled
categories2_bodyart
categories2_bodybuilding
categories2_booksandliterature
categories2_bowling
categories2_boxing
categories2_buddhism
categories2_budgettravel
categories2_business
categories2_businesssoftware
categories2_businesstravel
categories2_buyasecondhandcar
categories2_buyingsellingcars
categories2_buyingsellinghomes
categories2_cajuncreole
categories2_canoeingkayaking
categories2_carculture
categories2_careeradvice
categories2_careerplanning
categories2_careers
categories2_carindustry
categories2_cars
categories2_cats
categories2_celebrityfangossip
categories2_ceramicindustry
categories2_certifiedpreowned
categories2_cheerleading
categories2_chemicalindustry
categories2_chemistry
categories2_children
categories2_chinesecuisine
categories2_christianity
categories2_cigars
categories2_cinema
categories2_climbing
categories2_clinicaltests
categories2_clothing
categories2_clothingindustry
categories2_collecting
categories2_commentary
categories2_company
categories2_comparisonsengines
categories2_computercertification
categories2_computercrime
categories2_computerreviews
categories2_construction
categories2_consumerelectronics
categories2_contestsandfreebies
categories2_contracts
categories2_cosmeticsindustry
categories2_couponing
categories2_cricket
categories2_crime
categories2_curling
categories2_dance
categories2_datacenters
categories2_dating
categories2_dentalcare
categories2_dessertsandbaking
categories2_diningout
categories2_disease
categories2_disorders
categories2_distancelearning
categories2_diving
categories2_divorce
categories2_dogs
categories2_dogsled
categories2_drugs
categories2_ecology
categories2_education
categories2_eldercare
categories2_electroniccomponents
categories2_electronicindustry
categories2_emotions
categories2_energy
categories2_engineering
categories2_englishasa2ndlanguage
categories2_entertaining
categories2_environmentalsafety
categories2_espionageandintelligence
categories2_ethnicspecific
categories2_exercise
categories2_family
categories2_familyandparenting
categories2_familyinternet
categories2_fashion
categories2_fashionshow
categories2_fencing
categories2_finance
categories2_financialaid
categories2_find
categories2_fineart
categories2_fishing
categories2_foodallergies
categories2_foodanddrink
categories2_foodindustry
categories2_football
categories2_footwear
categories2_footwearindustry
categories2_forestry
categories2_frenchcuisine
categories2_frozenfood
categories2_games
categories2_gardening
categories2_gastronomy
categories2_gaylife
categories2_geography
categories2_geology
categories2_gettingpublished
categories2_gokart
categories2_golf
categories2_graduateschool
categories2_greensolutions
categories2_guitar
categories2_gymnastics
categories2_handball
categories2_hardware
categories2_healthandfitness
categories2_healthlowfatcooking
categories2_hinduism
categories2_hobbiesandinterests
categories2_hockey
categories2_holidays
categories2_homeandgarden
categories2_homerecording
categories2_homerepair
categories2_homeschooling
categories2_homeworkstudytips
categories2_honeymoonsgetaways
categories2_horseracing
categories2_horses
categories2_housecare
categories2_humanresources
categories2_humor
categories2_huntingshooting
categories2_immigration
categories2_incestabusesupport
categories2_industrialdesign
categories2_industryfinancing
categories2_intentions
categories2_interiordecorating
categories2_internationalnews
categories2_internettechnology
categories2_inventorsandpatents
categories2_ironandsteelindustry
categories2_islam
categories2_italiancuisine
categories2_japanesecuisine
categories2_jewelry
categories2_jobfairs
categories2_jobsearch
categories2_judaism
categories2_kosherfood
categories2_landscaping
categories2_languagelearning
categories2_largeanimals
categories2_lawenforcement
categories2_lawgovtandpolitics
categories2_legalissues
categories2_localnews
categories2_logistics
categories2_lowincomehousing
categories2_luxurygoods
categories2_luxuryhomes
categories2_macsupport
categories2_magicandillusion
categories2_manufacturing
categories2_marketing
categories2_marriage
categories2_martialarts
categories2_mathematics
categories2_mechanicalindustry
categories2_medicine
categories2_mensfashion
categories2_menshealth
categories2_metals
categories2_mexicancuisine
categories2_miningindustry
categories2_motherhood
categories2_motivations
categories2_motorcycles
categories2_motorcycling
categories2_motorshows
categories2_mp3midi
categories2_music
categories2_nationalnews
categories2_needlework
categories2_negativeemotions
categories2_negativesentiment
categories2_neutralemotions
categories2_neutralsentiment
categories2_news
categories2_nursing
categories2_olympics
categories2_operatingsystems
categories2_paintball
categories2_paperindustry
categories2_parachuting
categories2_paranormalphenomena
categories2_parentingk6kids
categories2_parentingteens
categories2_pcsupport
categories2_personalfinance
categories2_pets
categories2_pharmaceuticalindustry
categories2_physics
categories2_plasticsindustry
categories2_politics
categories2_polo
categories2_positiveemotions
categories2_positivesentiment
categories2_prices
categories2_programminglanguages
categories2_publishing
categories2_purchase
categories2_racism
categories2_radio
categories2_reading
categories2_realestate
categories2_recordcompany
categories2_religionandspirituality
categories2_remodelingandconstruction
categories2_reptiles
categories2_resumewritingadvice
categories2_retail
categories2_retirement
categories2_roadsideassistance
categories2_rodeo
categories2_rowing
categories2_rugby
categories2_runningjogging
categories2_sailing
categories2_scholarships
categories2_school
categories2_science
categories2_scrapbooking
categories2_scubadiving
categories2_search
categories2_secondhandmarket
categories2_seniorhealth
categories2_seniorliving
categories2_sentiment
categories2_sex
categories2_shipbuilding
categories2_shopping
categories2_showsandevents
categories2_skateboarding
categories2_skating
categories2_skeetshooting
categories2_skeleton
categories2_skiing
categories2_snowboarding
categories2_soccer
categories2_socialinstitution
categories2_socialscience
categories2_society
categories2_softball
categories2_software
categories2_specialeducation
categories2_specialneedskids
categories2_speedboatracing
categories2_sports
categories2_sportsmedicine
categories2_squash
categories2_studyingbusiness
categories2_style
categories2_styleandfashion
categories2_surfingbodyboarding
categories2_swimming
categories2_swimwear
categories2_tabletennispingpong
categories2_tanning
categories2_targetshooting
categories2_taxplanning
categories2_technologicalinnovation
categories2_technologyandcomputing
categories2_teens
categories2_telecommuting
categories2_television
categories2_temporaryagencies
categories2_tennis
categories2_textileindustry
categories2_theatre
categories2_therapy
categories2_touristdestinations
categories2_touristicfacilities
categories2_transports
categories2_travel
categories2_travelingwithkids
categories2_trekking
categories2_trucksandaccessories
categories2_uncategorized
categories2_underwear
categories2_unemployment
categories2_unions
categories2_unrestandwar
categories2_usgovernementresources
categories2_usmilitary
categories2_vegan
categories2_vegetarian
categories2_volleyball
categories2_walking
categories2_warindustry
categories2_waterpolo
categories2_waterskiwakeboard
categories2_weather
categories2_weightlifting
categories2_weightloss
categories2_welfare
categories2_windsurfing
categories2_womenshealth
categories2_work
categories2_wrestling
categories2_zoo
categories3_712education
categories3_accessories
categories3_acoustics
categories3_active
categories3_addiction
categories3_adoption
categories3_adulteducation
categories3_adventuretravel
categories3_advertising
categories3_affection
categories3_africa
categories3_agriculture
categories3_aidshiv
categories3_airforce
categories3_airfreight
categories3_airtravel
categories3_alcoholicbeverages
categories3_alcoholism
categories3_algebra
categories3_allergies
categories3_alternativemedicine
categories3_alternativereligions
categories3_americancuisine
categories3_amusement
categories3_anger
categories3_anguish
categories3_animalwelfare
categories3_annualreport
categories3_anthropology
categories3_antique
categories3_antivirussoftware
categories3_anxiety
categories3_apartments
categories3_appliances
categories3_aquariums
categories3_archery
categories3_architects
categories3_architecture
categories3_arithmetic
categories3_armedforces
categories3_army
categories3_artandentertainment
categories3_arthistory
categories3_arthritis
categories3_artificialinsemination
categories3_artisticgymnastics
categories3_artsandcrafts
categories3_arttechnology
categories3_asthma
categories3_astrology
categories3_astrophysics
categories3_atheismagnosticism
categories3_atomicphysics
categories3_australiaandnewzealand
categories3_automation
categories3_automotive
categories3_autoparts
categories3_autoracing
categories3_autorepair
categories3_babiesandtoddlers
categories3_badminton
categories3_ballet
categories3_bank
categories3_bankaccount
categories3_bankruptcy
categories3_bankservices
categories3_bar
categories3_barbecuesandgrilling
categories3_baseball
categories3_basketball
categories3_beachvolleyball
categories3_beadwork
categories3_beauty
categories3_beautycentre
categories3_beautycontest
categories3_bedandbreakfast
categories3_behaviour
categories3_belonging
categories3_bestsellers
categories3_beverages
categories3_bicycling
categories3_billiards
categories3_biology
categories3_biotechbiomedical
categories3_biotechnology
categories3_birds
categories3_birdwatching
categories3_blindnositelist
categories3_boardgamespuzzles
categories3_bobsled
categories3_bodyart
categories3_bodybuilding
categories3_booksandliterature
categories3_boredom
categories3_botany
categories3_bowling
categories3_boxing
categories3_buddhism
categories3_budgettravel
categories3_business
categories3_businesssoftware
categories3_businesstravel
categories3_buyasecondhandcar
categories3_buyback
categories3_buyingsellingcars
categories3_buyingsellinghomes
categories3_byuslocale
categories3_cajuncreole
categories3_callisthenics
categories3_calm
categories3_camerasandcamcorders
categories3_camping
categories3_canada
categories3_cancer
categories3_candleandsoapmaking
categories3_canoeingkayaking
categories3_carculture
categories3_cardgames
categories3_cardiology
categories3_careeradvice
categories3_careerplanning
categories3_careers
categories3_caribbean
categories3_carindustry
categories3_cars
categories3_cartography
categories3_catholicism
categories3_cats
categories3_cc
categories3_celebrityfangossip
categories3_ceramicindustry
categories3_certifiedpreowned
categories3_chat
categories3_checks
categories3_cheerleading
categories3_chemicalindustry
categories3_chemistry
categories3_chess
categories3_children
categories3_childrensbooks
categories3_childrensfood
categories3_childrensrights
categories3_childrenswear
categories3_chinesecuisine
categories3_cholesterol
categories3_christianity
categories3_chronicfatiguesyndrome
categories3_chronicpain
categories3_cigars
categories3_cinema
categories3_circus
categories3_cities
categories3_citylover
categories3_civillaw
categories3_civilrights
categories3_climbing
categories3_clinicaltests
categories3_clothing
categories3_clothingindustry
categories3_coal
categories3_coastguard
categories3_coldandflu
categories3_collecting
categories3_college
categories3_collegeadministration
categories3_collegelife
categories3_comicbooks
categories3_commentary
categories3_committed
categories3_commonlawmarriage
categories3_company
categories3_comparisonsengines
categories3_compassionate
categories3_computer
categories3_computercertification
categories3_computercrime
categories3_computernetworking
categories3_computerperipherals
categories3_computerreviews
categories3_concert
categories3_conference
categories3_conformist
categories3_confusion
categories3_construction
categories3_consumerelectronics
categories3_contestsandfreebies
categories3_contracts
categories3_convertible
categories3_corporateespionage
categories3_cosmetics
categories3_cosmeticsindustry
categories3_coupe
categories3_couponing
categories3_courage
categories3_creditdebtandloans
categories3_cricket
categories3_crime
categories3_criminallaw
categories3_crochet
categories3_crossover
categories3_curiosity
categories3_curling
categories3_cytology
categories3_dance
categories3_databases
categories3_datacenters
categories3_dating
categories3_daycarepreschool
categories3_deafness
categories3_deathpenalty
categories3_decoupage
categories3_dentalcare
categories3_dermatology
categories3_desire
categories3_desktoppublishing
categories3_desktopvideo
categories3_dessertsandbaking
categories3_diabetes
categories3_diesel
categories3_diningout
categories3_disappointment
categories3_discountrate
categories3_disease
categories3_disgust
categories3_disillusion
categories3_disks
categories3_disorders
categories3_disorganized
categories3_dissolute
categories3_distancelearning
categories3_diving
categories3_divorce
categories3_diy
categories3_dogs
categories3_dogsled
categories3_domesticpolicy
categories3_downhillskiing
categories3_drama
categories3_drawing
categories3_drawingsketchingpainting
categories3_drugs
categories3_drugtrafficking
categories3_dynamic
categories3_earnest
categories3_earnings
categories3_easterneurope
categories3_eccentric
categories3_ecology
categories3_ecommerce
categories3_education
categories3_eldercare
categories3_elections
categories3_electricity
categories3_electricvehicle
categories3_electromagnetism
categories3_electroniccomponents
categories3_electronicindustry
categories3_email
categories3_embryology
categories3_emotions
categories3_empathy
categories3_energy
categories3_engineering
categories3_englishasa2ndlanguage
categories3_entertaining
categories3_environmentaldisaster
categories3_environmentalsafety
categories3_envy
categories3_epidemic
categories3_espionageandintelligence
categories3_esteem
categories3_ethnicspecific
categories3_europe
categories3_events
categories3_exasperation
categories3_excitement
categories3_exercise
categories3_exhibition
categories3_fair
categories3_family
categories3_familyandparenting
categories3_familyinternet
categories3_fashion
categories3_fashionshow
categories3_fastfood
categories3_fear
categories3_fencing
categories3_festival
categories3_festivities
categories3_fieldhockey
categories3_figureskating
categories3_filmfestivalsandawards
categories3_finance
categories3_financialaid
categories3_financialplanning
categories3_find
categories3_fineart
categories3_firedepartment
categories3_fishing
categories3_flyfishing
categories3_foodallergies
categories3_foodanddrink
categories3_foodindustry
categories3_football
categories3_footwear
categories3_footwearindustry
categories3_foreignbank
categories3_foreignpolicy
categories3_forestry
categories3_forgiveness
categories3_formula1
categories3_forum
categories3_france
categories3_freelancewriting
categories3_freighttrain
categories3_frenchcuisine
categories3_freshwaterfishing
categories3_frivolous
categories3_frozenfood
categories3_frugal
categories3_furniture
categories3_gallery
categories3_gambling
categories3_gameconsole
categories3_games
categories3_gardening
categories3_gastronomy
categories3_gaylife
categories3_genetics
categories3_geography
categories3_geology
categories3_geometry
categories3_gerdacidreflux
categories3_gettingpublished
categories3_gokart
categories3_golf
categories3_government
categories3_gpsnavigator
categories3_graduateschool
categories3_graphicscards
categories3_graphicssoftware
categories3_greece
categories3_greensolutions
categories3_guitar
categories3_gym
categories3_gymnastics
categories3_hacking
categories3_haircare
categories3_handball
categories3_happiness
categories3_hardware
categories3_hatchback
categories3_hatred
categories3_headachesmigraines
categories3_headsofstate
categories3_healthandfitness
categories3_healthcare
categories3_healthfanatic
categories3_healthlowfatcooking
categories3_heartdisease
categories3_herbsforhealth
categories3_highwaypatrol
categories3_hinduism
categories3_history
categories3_hits
categories3_hobbiesandinterests
categories3_hockey
categories3_holidays
categories3_holistichealing
categories3_homeandgarden
categories3_homeopathy
categories3_homerecording
categories3_homerepair
categories3_homeschooling
categories3_hometheater
categories3_homevideodvd
categories3_homeworkstudytips
categories3_honeymoonsgetaways
categories3_hope
categories3_horror
categories3_horseracing
categories3_horses
categories3_hotel
categories3_housecare
categories3_humanresources
categories3_humanrights
categories3_humor
categories3_hunger
categories3_huntingshooting
categories3_hybrid
categories3_hydraulics
categories3_hydrography
categories3_ibscrohnsdisease
categories3_icehockey
categories3_iceskating
categories3_immigration
categories3_immunology
categories3_impolite
categories3_incestabusesupport
categories3_incontinence
categories3_independence
categories3_industrialdesign
categories3_industryfinancing
categories3_infertility
categories3_inlineskating
categories3_inorganicchemistry
categories3_insurance
categories3_intentions
categories3_interiordecorating
categories3_internationallaw
categories3_internationalnews
categories3_internettechnology
categories3_inventorsandpatents
categories3_investing
categories3_ironandsteelindustry
categories3_irritation
categories3_islam
categories3_islamicfundamentalism
categories3_italiancuisine
categories3_italy
categories3_japan

## Buy

Togliamo buy perché è totalmente popolata da 0 e eventuali valori pari a 1 indicherebbero che una persona ha cliccato dopo aver ricevuto la pubblicità => è un'informazione che non abbiamo prima di aver mandato la pubblicità.

In [104]:
df.drop('buy', axis=1, inplace=True)

## Variabili Lunghezza
Per ora teniamo le colonne come sono, senza aggregarle. Poi eventualmente le aggreghiamo sulla base dei risultati di SVM.

### Normalizzazione

Normalizziamo le colonne (esattamente come abbiamo fatto a luglio).

Dall'analisi risulta che si sono circa 20000 righe con valori mancanti (nan o infiniti) per almeno una delle colonne. L'eliminazione la facciamo sulla base della somma (eliminiamo se è nan o infinito).

In [105]:
L = re.compile('^L+.*', re.IGNORECASE)
lung = []

for v in df.columns:
  if L.search(v):
    print(v)
    lung.append(v)

L00_50
L51_100
L101_250
L251_500
L501_1000
L1001_2500
L2501_5000
L5001_10000
L10001_more

In [106]:
# Esempio di ciò che succede coi NaN
df[df['L101_250'].isnull()][lung]

,L00_50,L51_100,L101_250,L251_500,L501_1000,L1001_2500,L2501_5000,L5001_10000,L10001_more
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
82529,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82534,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82535,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82553,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [107]:
# Somma dei valori nelle colonne
def somma_lung(riga):
  sum = 0
  for el in lung:
    sum += riga[el]
  return sum

df['somma'] = df.apply(somma_lung, axis=1)
df[['somma']]

       somma
0        NaN
1      237.5
2        NaN
3        NaN
4      100.0
...      ...
82559  100.0
82560  100.0
82561  100.0
82562  100.0
82563  100.0

[82390 rows x 1 columns]

In [108]:
# Verifichiamo se ci sono valori infiniti
from numpy import inf

sum(df['somma'] == inf)

0

In [109]:
# Verifichiamo se ci sono valori nulli
sum(df['somma'].isnull())

20011

Eliminiamo ora tutte queste righe.

In [110]:
indexNames = df[(df['somma'].isnull())].index
df.drop(indexNames, inplace=True)
df['somma'].shape

(62379,)

Ora normalizziamo

In [111]:
for l in lung:
  df[l] = round((df[l] / df['somma']) * 100, 2)

df['somma'] = df.apply(somma_lung, axis=1)

In [112]:
# controllo
df[['L00_50', 'L51_100', 'L101_250', 'L251_500', 'L501_1000', 'L1001_2500', 'L2501_5000', 'L5001_10000', 'L10001_more', 'somma']]

,L00_50,L51_100,L101_250,L251_500,L501_1000,L1001_2500,L2501_5000,L5001_10000,L10001_more,somma
1,100.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
4,100.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
5,0.00,0.00,0.0,100.0,0.0,0.0,0.0,0.0,0.0,100.0
7,66.67,33.33,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
8,42.86,57.14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
...,...,...,...,...,...,...,...,...,...,...
82559,0.00,100.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
82560,100.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
82561,100.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
82562,11.11,88.89,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0
82563,0.00,0.00,100.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0

In [113]:
# Delete coloumn 'somma'
df.drop(columns=['somma'], inplace=True)

In [114]:
# Controllo se ci sono colonne con valori pari a inf
for col in df.columns:
  if len(df[df[col] == np.inf]) != 0:
    print(col)

## Reintroduzione delle 4176 righe che hanno NaN solo nelle lunghezze e sostituzione dei NaN

In [115]:
df3

,ad_form_id,suspicious,clicks,impressions,buy,os_android,os_bsd,os_ios,os_linux,os_osx,...,feelings1_surprise,feelings1_sympathy,feelings1_thirst,feelings1_thoughtful,feelings1_torment,feelings1_traditionalist,feelings1_trust,feelings1_uncategorized,feelings1_violence,feelings1_wealth
0,7241135337730459930,0,0,1,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55,1633170663585866342,0,0,6,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93,8800313386888394827,0,0,1,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
105,7609729276934938609,0,0,2,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
123,2143737829494737521,0,0,1,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82472,4756679042780103789,0,0,4,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82478,8206347819790609161,0,0,3,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82494,989818539064099103,0,0,1,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82495,5299665908543523273,0,0,1,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82532,3756819457074416708,0,0,3,0,1,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [119]:
print(f"{len(df)} + {len(df3)} = {len(df)+len(df3)}") # dimensione attesa

62379 + 4176 = 66555

In [120]:
df = df.append(df3)

In [121]:
df

,ad_form_id,clicks,impressions,os_android,os_bsd,os_ios,os_linux,os_osx,os_other,os_windows,...,feelings1_thirst,feelings1_thoughtful,feelings1_torment,feelings1_traditionalist,feelings1_trust,feelings1_uncategorized,feelings1_violence,feelings1_wealth,suspicious,buy
1,8408205703932483258,0,1,0,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,6157419832685345406,0,3,0,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
5,6336227050936118437,0,3,0,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
7,6272249560265519045,0,5,0,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
8,2248420359615433360,0,5,0,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82472,4756679042780103789,0,4,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82478,8206347819790609161,0,3,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82494,989818539064099103,0,1,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82495,5299665908543523273,0,1,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
82532,3756819457074416708,0,3,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Variabili os, browser e device

Tipi:
* os e browser sono composte da più variabili binarie;
* device è categorica, quindi si occuperà `OneHotEncoder` di binarizzarla.

Possiamo accorpare sulla base della loro distribuzione.

### os Distribuzione

In [122]:
os = ('os_android', 'os_bsd', 'os_ios', 'os_linux', 'os_osx', 'os_other', 'os_windows')

In [123]:
for tipo in os:
  yes = df[df['clicks'] > 0][tipo]
  no = df[df['clicks'] <= 0][tipo]

  zinyes = 0
  for r in yes:
    if r <= 0:
      zinyes = zinyes +1

  zinno = 0
  for r in no:
    if r <= 0:
      zinno = zinno +1

  print(tipo, ':')
  print('clicker che usano questo tipo: ', len(yes)-zinyes, 'su ', len(yes), ' -> ', 1-zinyes/len(yes))
  print('non clicker che usano questo tipo: ', len(no)-zinno, 'su ', len(no), ' -> ', 1-zinno/len(no))
  print('')

os_android :
clicker che usano questo tipo:  17 su  199  ->  0.085427135678392
non clicker che usano questo tipo:  5814 su  66356  ->  0.0876183012839834

os_bsd :
clicker che usano questo tipo:  0 su  199  ->  0.0
non clicker che usano questo tipo:  1 su  66356  ->  1.5070227258995317e-05

os_ios :
clicker che usano questo tipo:  0 su  199  ->  0.0
non clicker che usano questo tipo:  1 su  66356  ->  1.5070227258995317e-05

os_linux :
clicker che usano questo tipo:  2 su  199  ->  0.01005025125628145
non clicker che usano questo tipo:  466 su  66356  ->  0.007022725902706584

os_osx :
clicker che usano questo tipo:  24 su  199  ->  0.12060301507537685
non clicker che usano questo tipo:  9592 su  66356  ->  0.1445536198685876

os_other :
clicker che usano questo tipo:  0 su  199  ->  0.0
non clicker che usano questo tipo:  7 su  66356  ->  0.00010549159081318926

os_windows :
clicker che usano questo tipo:  156 su  199  ->  0.7839195979899498
non clicker che usano questo tipo:  50475 su  66356  ->  0.7606697208993911

### browser Distribuzione

In [124]:
brow = ('browser_android', 'browser_chrome', 'browser_chromium', 'browser_edge', 'browser_firefox', 'browser_ie', 'browser_opera', 
        'browser_other', 'browser_safari', 'browser_unknown')

In [125]:
for tipo in brow:
  yes = df[df['clicks'] > 0][tipo]
  no = df[df['clicks'] <= 0][tipo]

  zinyes = 0
  for r in yes:
    if r <= 0:
      zinyes = zinyes +1

  zinno = 0
  for r in no:
    if r <= 0:
      zinno = zinno +1

  print(tipo, ':')
  print('clicker che usano questo tipo: ', len(yes)-zinyes, 'su ', len(yes), ' -> ', 1-zinyes/len(yes))
  print('non clicker che usano questo tipo: ', len(no)-zinno, 'su ', len(no), ' -> ', 1-zinno/len(no))
  print('')

browser_android :
clicker che usano questo tipo:  1 su  199  ->  0.005025125628140725
non clicker che usano questo tipo:  172 su  66356  ->  0.0025920790885526346

browser_chrome :
clicker che usano questo tipo:  116 su  199  ->  0.5829145728643217
non clicker che usano questo tipo:  44161 su  66356  ->  0.6655163059858943

browser_chromium :
clicker che usano questo tipo:  0 su  199  ->  0.0
non clicker che usano questo tipo:  0 su  66356  ->  0.0

browser_edge :
clicker che usano questo tipo:  48 su  199  ->  0.24120603015075381
non clicker che usano questo tipo:  10050 su  66356  ->  0.151455783953222

browser_firefox :
clicker che usano questo tipo:  15 su  199  ->  0.07537688442211055
non clicker che usano questo tipo:  3578 su  66356  ->  0.05392127313279882

browser_ie :
clicker che usano questo tipo:  3 su  199  ->  0.015075376884422065
non clicker che usano questo tipo:  2753 su  66356  ->  0.04148833564410148

browser_opera :
clicker che usano questo tipo:  0 su  199  ->  0.0
non clicker che usano questo tipo:  399 su  66356  ->  0.006013020676351788

browser_other :
clicker che usano questo tipo:  0 su  199  ->  0.0
non clicker che usano questo tipo:  2 su  66356  ->  3.0140454518101656e-05

browser_safari :
clicker che usano questo tipo:  16 su  199  ->  0.08040201005025127
non clicker che usano questo tipo:  5117 su  66356  ->  0.07711435288444146

browser_unknown :
clicker che usano questo tipo:  0 su  199  ->  0.0
non clicker che usano questo tipo:  124 su  66356  ->  0.001868708180119305

### device Distribuzione

In [126]:
len(df[df['clicks']>0])

199

In [127]:
for n in (1,2,3):
  users = len(df[df['device_type']==n])
  c_users = len( df[(df['device_type']==n) & (df['clicks']>0)] )
  nc_users = len( df[(df['device_type']==n) & (df['clicks']<=0)] )
  if(n==1): print('Mobile')
  if(n==2): print('Desktop and Laptop')
  if(n==3): print('Unknown/Others')
  print('clicker che usano questo device: ', c_users, 'su ', 210, ' -> ', c_users/210)
  print('non clicker che usano questo device: ', nc_users, 'su ', len(df)-210, ' -> ', nc_users/(len(df)-210))
  print('utilizzatori totali: ', users)
  print(' ')

Mobile
clicker che usano questo device:  17 su  210  ->  0.08095238095238096
non clicker che usano questo device:  5820 su  66345  ->  0.08772326475243047
utilizzatori totali:  5837

Desktop and Laptop
clicker che usano questo device:  182 su  210  ->  0.8666666666666667
non clicker che usano questo device:  60533 su  66345  ->  0.9123973170547893
utilizzatori totali:  60715

Unknown/Others
clicker che usano questo device:  0 su  210  ->  0.0
non clicker che usano questo device:  3 su  66345  ->  4.521817770743839e-05
utilizzatori totali:  3

## Variabili Time

Contenendo time1 e time2 informazioni simili (momento della giornata in cui la pagina è stata visitata), ma avendo time2 infromazioni mancanti per circa 3000 righe, si è deciso di mantenere le sole colonne di time1.

Viene quindi
* mostrato che le time2 hanno informazioni mancanti (somme a zero);
* mostrare che le time1 hanno tutte le informazioni.

Passi successivi:
* rimuovere effettivamente le Time2;
* normalizzare le Time1.

### Controlli

In [128]:
# colonne da utilizzare
colonne = df.columns.to_numpy()
t = re.compile('^time+.*', re.IGNORECASE)
t1 = re.compile('^time1+.*', re.IGNORECASE)
times1 = []
times2 = []

for v in colonne:
  if t.search(v):
    print(v)
    if t1.search(v):
      times1.append(v)
    else:
      times2.append(v)

time1_workday_morning
time1_workday_afternoon
time1_workday_evening
time1_workday_night
time1_weekend_morning
time1_weekend_afternoon
time1_weekend_evening
time1_weekend_night
time2_morning_early
time2_morning
time2_launch
time2_afternoon
time2_evening
time2_night
time2_sleep

In [129]:
# calcolo la somma dei tempi1 e tempi2

df['sommat1'] = (df['time1_workday_morning'] + df['time1_workday_afternoon'] + df['time1_workday_evening'] + df['time1_workday_night'] +
                 df['time1_weekend_morning'] + df['time1_weekend_afternoon'] + df['time1_weekend_evening'] + df['time1_weekend_night'])

df['sommat2'] = (df['time2_morning_early'] + df['time2_morning'] + df['time2_launch'] + df['time2_afternoon'] + df['time2_evening'] +
                 df['time2_night'] + df['time2_sleep'])

In [130]:
# non sono presenti somme infinite
len(df[(df['sommat1'] > 100000) | (df['sommat2'] > 100000)][['sommat1', 'sommat2']])

0

In [131]:
# sono presenti più di 3000 righe che mostrano somma per tempi2 pari a zero (13 hanno cliccato)
print(len(df[df['sommat2'] == 0][['sommat1', 'sommat2']]))
print(len(df[(df['sommat2'] == 0) & (df['clicks'] > 0)][['sommat1', 'sommat2']]))

3830
11

In [132]:
#  non sono presenti righe con somma a zero per tempi1
df[(df['sommat1'] == 0)][['sommat1', 'sommat2']]

Empty DataFrame
Columns: [sommat1, sommat2]
Index: []

In [133]:
# non sono presenti valori nulli
print(len(df[df['sommat1'].isnull()]))
print(len(df[df['sommat2'].isnull()]))

0
0

### Normalizzazione time1, eliminazione time2

In [134]:
# Riscalo i tempi(1) in modo che somma sia 100 
for t2 in times1:
  df[t2] = round(df[t2]/ df['sommat1']*100, 2)

times1.append('sommat1')
df[times1].head(5)

,time1_workday_morning,time1_workday_afternoon,time1_workday_evening,time1_workday_night,time1_weekend_morning,time1_weekend_afternoon,time1_weekend_evening,time1_weekend_night,sommat1
1,26.32,73.68,0.00,0.0,0.0,0.0,0.0,0.0,237.5
4,0.00,0.00,0.00,100.0,0.0,0.0,0.0,0.0,100.0
5,0.00,100.00,0.00,0.0,0.0,0.0,0.0,0.0,100.0
7,0.00,100.00,0.00,0.0,0.0,0.0,0.0,0.0,100.0
8,14.29,14.29,71.43,0.0,0.0,0.0,0.0,0.0,175.0

In [135]:
# elimino colonne di time2 e delle somme
df.drop(columns=['sommat1', 'sommat2'], inplace=True)
df.drop(columns=times2, inplace=True)

## Variabili Categories

Normalizziamo le colonne (come abbiamo fatto a luglio, includendo però anche le categories 2 e 3).

### Normalizzazione

#### Categories1

In [138]:
# Colonne categories1
cat1 = re.compile('categories1_+.*', re.IGNORECASE)
cats1 = []
for label in colonne:
  occ = cat1.findall(label)
  if occ:
    cats1.append(occ[0])
  
# Calcolo somma
def somma_cat1(riga):
  sum = 0
  for cat in cats1:
    sum += riga[cat]
  return(round(sum, 1))

df['somma1'] = df.apply(somma_cat1, axis=1)

In [139]:
# controllo quanti nan ci sono nelle somme: non ci sono nan

df[df['somma1'].isnull()][['ad_form_id', 'somma1']]

Empty DataFrame
Columns: [ad_form_id, somma1]
Index: []

In [140]:
# controllo se ci sono nan nelle categorie singole: non ci sono

for v in cats1:
  nn = len(df[df[v].isnull()])
  if (nn != 0):
    print(v, nn)

In [141]:
# controllo quanti inf ci sono nelle somme: non ci sono inf
df[df['somma1'] == np.inf][['ad_form_id', 'somma1']]

Empty DataFrame
Columns: [ad_form_id, somma1]
Index: []

Le righe che davano somme infinite nelle lunghezze, sono le stesse che a luglio davano somme infinite nelle categories.

In [142]:
# controllo gli zero: non ce ne sono
df[df['somma1'] == 0][['ad_form_id', 'somma1']]

                ad_form_id  somma1
0      7241135337730459930     0.0
55     1633170663585866342     0.0
93     8800313386888394827     0.0
105    7609729276934938609     0.0
123    2143737829494737521     0.0
...                    ...     ...
82472  4756679042780103789     0.0
82478  8206347819790609161     0.0
82494   989818539064099103     0.0
82495  5299665908543523273     0.0
82532  3756819457074416708     0.0

[4176 rows x 2 columns]

In [143]:
# Normalizzo le somme a 100
for cat in cats1:
  df[cat] = round((df[cat] / df['somma1']) * 100, 2)

In [144]:
df[cats1]

,categories1_artandentertainment,categories1_automotive,categories1_business,categories1_careers,categories1_education,categories1_emotions,categories1_familyandparenting,categories1_finance,categories1_foodanddrink,categories1_healthandfitness,...,categories1_realestate,categories1_religionandspirituality,categories1_science,categories1_shopping,categories1_society,categories1_sports,categories1_styleandfashion,categories1_technologyandcomputing,categories1_travel,categories1_uncategorized
1,0.0,0.0,0.0,42.11,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,57.89
4,100.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.00,0.0,0.00
5,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.76,0.0,11.76,0.0,0.00
7,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,14.71,0.0,51.49,0.0,0.00
8,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.0,57.39,0.0,42.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [145]:
df.drop('somma1', axis=1, inplace=True)

#### Categories 2

In [146]:
# Colonne categories2
cat2 = re.compile('categories2_+.*', re.IGNORECASE)
cats2 = []
for label in colonne:
  occ = cat2.findall(label)
  if occ:
    cats2.append(occ[0])
  
# Calcolo somma
def somma_cat2(riga):
  sum = 0
  for cat in cats2:
    sum += riga[cat]
  return(round(sum, 1))

df['somma2'] = df.apply(somma_cat2, axis=1)

In [147]:
# controllo quanti nan ci sono nelle somme: non ci sono nan

df[df['somma2'].isnull()][['ad_form_id', 'somma2']]

Empty DataFrame
Columns: [ad_form_id, somma2]
Index: []

In [148]:
# controllo se ci sono nan nelle categorie singole: non ci sono

for v in cats2:
  nn = len(df[df[v].isnull()])
  if (nn != 0):
    print(v, nn)

In [149]:
# controllo quanti inf ci sono nelle somme: non ci sono inf
df[df['somma2'] == np.inf][['ad_form_id', 'somma2']]

Empty DataFrame
Columns: [ad_form_id, somma2]
Index: []

Le righe che davano somme infinite nelle lunghezze, sono le stesse che a luglio davano somme infinite nelle categories.

In [150]:
# controllo gli zero: non ce ne sono
df[df['somma2'] == 0][['ad_form_id', 'somma2']]

                ad_form_id  somma2
0      7241135337730459930     0.0
55     1633170663585866342     0.0
93     8800313386888394827     0.0
105    7609729276934938609     0.0
123    2143737829494737521     0.0
...                    ...     ...
82472  4756679042780103789     0.0
82478  8206347819790609161     0.0
82494   989818539064099103     0.0
82495  5299665908543523273     0.0
82532  3756819457074416708     0.0

[4176 rows x 2 columns]

In [151]:
# Normalizzo le somme a 100
for cat in cats2:
  df[cat] = round((df[cat] / df['somma2']) * 100, 2)

In [152]:
df[cats2]

,categories2_accessories,categories2_addiction,categories2_adoption,categories2_adulteducation,categories2_adventuretravel,categories2_advertising,categories2_agriculture,categories2_alternativemedicine,categories2_alternativereligions,categories2_americancuisine,...,categories2_waterskiwakeboard,categories2_weather,categories2_weightlifting,categories2_weightloss,categories2_welfare,categories2_windsurfing,categories2_womenshealth,categories2_work,categories2_wrestling,categories2_zoo
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82472,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82478,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82532,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
df.drop('somma2', axis=1, inplace=True)